.rasm{
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.sar{
    margin-left: 365px;
}
.sar1{
    margin-left: 435px;
}
.d{
    margin-left: 480px;
    margin-top: 20px;
}