.rasm{
    display: flex;
    justify-content: center;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.sar{
    margin-left: 365px;
}
.sar1{
    margin-left: 435px;
}
.d{
    margin-left: 480px;
    margin-top: 20px;
    
}
.div1{
    font-size: 25px;
    margin-left: 530px;
    margin-top: 50px;
}
.p1{
    margin-left: 200px;
}
.p2{
    margin-left: 370px;
}
.h2 {
    margin-left: 520px;
    margin-bottom: 50px;
}
.d3 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 320px;
    
    
}
.c{
    border: 1px solid black;
    padding: 15px;
    border-radius: 40%;
}
.c1{
    border: 1px solid black;
    padding: 15px;
    border-radius: 40%;
}
.c2{
    border: 1px solid black;
    padding: 15px;
    border-radius: 40%;
}
.c3{
    border: 1px solid black;
    padding: 15px;
    border-radius: 40%;
}
.c4{
    border: 1px solid black;
    padding: 15px;
    border-radius: 40%;
}
